.ewk_cont_banner {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/mcp1.png");
}

.ewk_column_inner {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("../../img/peru2.jpg")
}

.ewk_sombra{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: auto;
}