$color =  rgba(255, 94, 0, 0.8)
$colorsecund = green
*
    padding 0
    margin 0
h1
    color: $color
    font-size: 2.4rem 
h2 
    text-align: center
    margin: auto
.menu
    background $color
    &_link
        background red
.ewk
    &_navbar
        background-color $color !important
        div
        ul
            background-color: transparent !important
.intro
    margin: 25px 0
    &_contain
        &_items 
            &_img
                text-align: center
                margin: auto
            &_text          
                margin: auto
                border-right: 1px solid $color
                h1
                    text-align: center    
.slider
    &_container
        &_items
            &_img
                img 
                    height 100vh
                    object-fit: cover
.secundintro
    margin: 25px 0
    &_contain
        &_items 
            &_img
                text-align: center
                margin: auto
            &_text          
                margin: auto

                h1
                    text-align: center 
                    border-bottom: 2px solid $color
.datos
    &_cont
        &_img  
            margin: auto;
            text-align: center
            &_text
                max-width 720px
                text-align: center
                margin: auto
                position: absolute
                top: 7rem
                left 12rem
                bottom: 0
.sombra
    position: absolute
    left: 50%
    top: 50%
    -ms-transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    padding: 20px
    width: 80%
    text-align: center;
    background-color:rgba(0, 0, 0, 0.6)
    color: #fff
    margin: auto
    

.top
    &_sp
        &_column
            &_img
                padding: 210px 0 40px
                background-repeat: no-repeat !important
                background-position: 50% 50% !important
                background-size: cover !important
                background-attachment: scroll !important
                object-fit: cover
                width: 100%
                &_text
                    text-align: center
                    margin: auto
                    color: white
                
.contact-section
    background-color: $colo


/*
menu
*/
.navbar-shrink
    .menutop
        &_cont
            transition 0.5s all
            background-color orange
            border 2px solid white
            border-radius 20px 0
            &_button
                &_collapse
                    ul
                        li
                            a
                                color white
.menutop
    &_cont
        transition 0.5s all
        background-color white
        border 2px solid white
        border-radius 20px 0
        &_img
            img
                max-width 140px
                margin-bottom -60px
                margin-top -20px 
        &_button
            background-color rgb(0 0 0 / 50%)
            font-size 2em
            padding 0 20px
            &_collapse
                ul
                    li
                        a
                            color orange

/*
fin menu
*/