.ewk_navbar {
  background-color: rgba(255, 94, 0, 0.8) !important;
}

.ewk_navbar div, .ewk_navbar ul{
  background-color: transparent !important;
}



.p{
  font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}


.img{
  height: auto;
  width: auto;
  max-height: 100vh;
  max-width: 100vh;
}